.profile {
	display: block;
  width: 320px;
	margin: 20px auto;
	position:relative;

  font-family: 'Georgia', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.2em;

  color: #008b8b;
  background: #fff;
	cursor: pointer;
  box-shadow: 3px 3px 10px 3px rgb(75 75 75 / 30%);
	border: 2px solid #e4e1e1;
  border-radius: 2px;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.profile:hover,
.profile:focus {
  transform: scale(1.1);
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.avatar {
  object-fit: cover;
  width: 160px;
	height: 160px;
  margin: 30px auto 20px;
  border-radius: 50%;
}

.name {
  font-weight: 700;
  font-size: 20px;

  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  color: #000;
}

.tag {
  margin: 0;
  margin-bottom: 10px;
}

.location {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.stats {
  display: flex;
	flex-wrap: wrap;

  width: 100%;
	height: 90px;
	margin: 0;
  padding: 0;
  list-style: none;
}

.stats > li {
  display: flex;
	flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
	justify-content: center;
	width: calc(33.33333%);

  padding: 10px 4px;

  background-color: #e3f6f6f7;
  border: 1px solid #e2e7f0;
}


	/* .stats > li:not(:last-child) {
		border-right: 1px solid #e2e7f0;
} */


.label {
  font-size: 14px;
}

.quantity {
  color: #2f4f4f;
}