.transactionTbl {
	width: 480px;
  margin-top: 50px;
  text-align: center;

  box-shadow: 3px 3px 10px 3px rgb(75 75 75 / 30%);
  border-radius: 4px;
	border: 2px solid #e4e1e1;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.transactionTbl,
th,
td {
  text-align: center;
  border: 1.5px solid rgb(158, 158, 188);
  border-collapse: inherit;
}

.transactionTbl:hover,
.transactionTbl:focus {
  transform: scale(1.05);
}

.heder {
  font-family: 'Georgia', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.2em;
	text-transform: uppercase;

  background-color: #7bcad4;
  color: #fff;
}

.row:nth-child(even) {
	background: #b8bab8ca;
}

.cell {
  padding: 5px 0;

  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2em;
	color: black;
}
.column,
.cell {
		border: 1px solid rgb(142, 106, 106);
		width: calc(100% / 3);
}
